extends layout

block content
  .container#chat(ng-app='ChatModule', ng-controller='ChatCtrl')
    .msg_box(ng-show='open_msg_box')
      .span2#chatters
        ul.unstyled
          p Current Users
          li.well.well-small(ng-repeat='chatter in chatters')
            a(href='#') {{ chatter }}

      .span9#public_msg_box
        .messages.well(ng-repeat='msg in public_msg')
          .msg(ng-switch="msg.from")
            | <span class="from"> {{ msg.from }} : </span>
            | <span class="content" ng-switch-when="System" ng-bind-html-unsafe="msg.content"></span>
            span.content(ng-switch-default ng-bind="msg.content")

    #register_box.text-center(ng-hide='open_msg_box', style='margin-top: 10em')
      .alert_box(style='margin-bottom: 1em')
        span.alert-error#register_fail(ng-show='failed_msg', ng-bind="failed_msg")
      input#register.text-center.lead.input-block-level.input-xlarge.search-query(type="text", ng-model='name', placeholder='Please Enter Your Name')
      button.btn.btn-success(ng-click='register()', style='margin-left: 1em') Join